{"quotes": ["Here's a quote", "to send a quote, send !quote 1 for exemple in the twitch chat"], "reccurence": ["It's the fist message", "and here an other one", "they'll be send every aproximatly 5 minutes"]}